{
  "version": "4.2.8",
  "baseUrl": "https://tlpt2.moh.hnet.bc.ca",
  "password": "password",
  "username": "username",
  "username-bad": "bad-username",
  "phn-invalid": "1234567890",
  "phn-notfound": "9347984074",
  "phn-found": "add valid test phn here",
  "phn-dob-year": "1977",
  "phn-dob-month": "02",
  "phn-dob-day": "01",
  "startSeq": 1202
}